﻿@*@model IEnumerable<LRC_NET_Framework.tb_Assessment>*@
@model PagedList.IPagedList<LRC_NET_Framework.tb_Assessment>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<ul class="list-inline">
    <li role="button"><a href="@Url.Action("NotSure", "Assessment")" class="btn btn-info viewDialog", data-dialog-title="Question">&nbsp;Assessment<span class="glyphicon glyphicon-plus pull-left" aria-hidden="true"></span></a></li>
    @*<li role="button"><a href="#" class="btn btn-info">&nbsp;Reports<span class="glyphicon glyphicon-stats pull-left" aria-hidden="true"></span></a></li>*@
</ul>

<h2>All Assessments</h2>
@using (Html.BeginForm("Index", "Assessment", FormMethod.Post, new { @class = "margin-right: 0" }))
{
    <div class="form-group row list-inline">
        <div class="col-md-2">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
                @Html.TextBox("SearchString", null, new { @class = "form-control", placeholder = "Search" })
            </div>
        </div>
    </div>
}
<div class="row ex1">
    <div class="col-md-2 align-text-top"><small>Showing @Model.FirstItemOnPage - @Model.Count()&nbsp;&nbsp;of&nbsp;&nbsp;@ViewData["MemberQty"]</small></div>
    <div class="col-md-3 align-text-top"></div>
    <div class="col-md-7"></div>
</div>

<table class="table">
    <tr>
        <th>
            Faculty Member
        </th>
        <th>
            Assessment
        </th>
        <th>
            Value
        </th>
        <th>
            @Html.ActionLink("Assessment Date", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            Assessed By
        </th>
        <th>
            Added By
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.tb_MemberMaster.LastName + ", " + item.tb_MemberMaster.FirstName, "Details", "Home", new { id = item.tb_MemberMaster.MemberID }, new { @class = "text -info" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tb_AssessmentName.AssessmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tb_AssessmentValue.ValueName)
            </td>
            <td>
                @Convert.ToDateTime(item.AssessmentDate).ToString("MM/dd/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUsers1.LastFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUsers.LastFirstName)
            </td>
        </tr>
    }

</table>
<br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) from @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

    @section Scripts {
        <script src='@Url.Content("~/Scripts/jquery-1.12.4.min.js")' type="text/javascript"></script>
        <script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")' type="text/javascript"></script>
        <link href="~/Content/themes/base/all.css" rel="stylesheet" />
        <script>
            $(document).ready(function () {

                $.ajaxSetup({ cache: false });

                $(".viewDialog").on("click", function (e) {
                    e.preventDefault();

                    $("<div></div>")
                        .addClass("dialog")
                        .appendTo("body")
                        .dialog({
                            closeText: "",
                            title: $(this).attr("data-dialog-title"),
                            close: function () { $(this).remove() },
                            height: 300,
                            width: 500,
                            modal: true
                        })
                        .load(this.href);
                });
            });
        </script>

        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
    }