﻿@{
    ViewBag.Title = "Import Certified Bargaining Unit (CBU) file from the national union";
}

<div class="font-weight-bold" style="background-color: #357ebd; border-bottom-left-radius:7px; border-bottom-right-radius:7px; color:gainsboro; padding-top:5px; padding-bottom:5px; padding-left:30px;">
    <h4>
        Import Certified Bargaining Unit (CBU) file from the national union
    </h4>
</div>

<div style="font-size:smaller; padding-bottom:3px; padding-left:30px; padding-right:30px;">
    <div style="background-color:lavender; padding-top:12px; padding-left:10px; padding-bottom:4px; border-bottom-left-radius:5px; border-bottom-right-radius:5px;">
        <ul class="list-inline">
            <li role="button"><a href="@Url.Action("AddWeekDays", "SemesterTaught")" class="btn-sm btn-info viewDialog" , data-dialog-title="Add Days of Week">Days of Week&nbsp;&nbsp;<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
            <li role="button"><a href="@Url.Action("MemberImportErrors", "Import")" class="btn-sm btn-info">Members Import Errors&nbsp;&nbsp;<span class="glyphicon glyphicon-list" aria-hidden="true"></span></a></li>
            <li role="button"><a href="@Url.Action("ScheduleImportErrors", "Import")" class="btn-sm btn-info">Schedules Import Errors&nbsp;&nbsp;<span class="glyphicon glyphicon-list" aria-hidden="true"></span></a></li>
            <li role="button"><a href="@Url.Action("CollegesMapping", "Import")" class="btn-sm btn-info">Colleges Mapping&nbsp;&nbsp;<span class="glyphicon glyphicon-transfer" aria-hidden="true"></span></a></li>
            <li role="button"><a href="@Url.Action("CampusesMapping", "Import")" class="btn-sm btn-info">Campuses Mapping&nbsp;&nbsp;<span class="glyphicon glyphicon-transfer" aria-hidden="true"></span></a></li>
            <li role="button"><a href="@Url.Action("MembersMapping", "Import")" class="btn-sm btn-info">Member Fields Mapping&nbsp;&nbsp;<span class="glyphicon glyphicon-transfer" aria-hidden="true"></span></a></li>
            <li role="button"><a href="@Url.Action("ScheduleMapping", "Import")" class="btn-sm btn-info">Schedule Fields Mapping&nbsp;&nbsp;<span class="glyphicon glyphicon-transfer" aria-hidden="true"></span></a></li>
        </ul>
    </div>
    @using (Html.BeginForm("UploadExcel", "Account", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return myFunction()", id = "myform" }))
    {
    <div class="form-horizontal" style="margin-top:10px;">
        <div class="form-group">
            <div class="control-label col-md-2">Download Format:</div>
            <div class="col-md-10">
                <a href="#" class="btn btn-default">Excel&nbsp;&nbsp;<span class="glyphicon glyphicon-import" aria-hidden="true"></span></a>
            </div>
        </div>

        <div class="form-group">
            @*<div class="control-label col-md-2"></div>*@
            <div class="col-md-10 col-md-offset-2">
                <input type="file" id="FileUpload" name="FileUpload" class="btn btn-info" />
            </div>
            <div class="col-md-3 col-md-offset-2" style="margin-top:12px; border:solid; border-radius:7px; border-width:1px; border-color:gainsboro;">
                <table style="">
                    <tr>
                        <td colspan="4" style="background-color:lavender; font-weight:bolder; padding:5px;">Select Import Type:</td>
                    </tr>
                    <tr>
                        <td style="padding:5px;">
                            @Html.RadioButton("ImportType", "1", isChecked: false) @Html.Label("Full-Time", new { style = "font-weight:normal;" })
                        </td>
                        <td style="padding:10px;">
                            @Html.RadioButton("ImportType", "2", isChecked: false) @Html.Label("Adjunct", new { style = "font-weight:normal;" })
                        </td>
                        <td style="padding:10px;">
                            @Html.RadioButton("ImportType", "3", isChecked: false) @Html.Label("REG Schedule", new { style = "font-weight:normal;" })
                        </td>
                        <td style="padding:10px;">
                            @Html.RadioButton("ImportType", "4", isChecked: false) @Html.Label("ADJ Schedule", new { style = "font-weight:normal;" })
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-10 col-md-offset-2" style="margin-top:12px;">
                @Html.Label("Semester", "Semester", htmlAttributes: new { @class = "control-label" })<span class="text-danger">&nbsp;&nbsp;*</span>
                @Html.DropDownList("Semesters", (IEnumerable<SelectListItem>)ViewBag.Semesters, "-- Select One --", new { @class = "form-control", style = "width: 300px" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" id="btnSubmit" class="btn btn-primary" />
                <span id="myLoadingElement" style="display: none;">
                    <img src="~/Images/loading30.gif" alt="Loading..." />
                </span>
            </div>
        </div>

        @using LRC_NET_Framework.Helpers
        @Html.CreateList(ViewData["ErrorList"] as List<string>)

    </div>
    }
</div>

@section Scripts {
<script>
    $("#myform").submit(function (e) {
        $("#myLoadingElement").show();
        $("#myErrorList").hide();
    });
</script>

<script src='@Url.Content("~/Scripts/jquery-1.12.4.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")' type="text/javascript"></script>
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {

            $.ajaxSetup({ cache: false });

            $(".viewDialog").on("click", function (e) {
                e.preventDefault();

                $("<div></div>")
                    .addClass("dialog")
                    .appendTo("body")
                    .dialog({
                        closeText: "",
                        title: $(this).attr("data-dialog-title"),
                        close: function () { $(this).remove() },
                        height: 300,
                        width: 500,
                        modal: true
                    })
                    .load(this.href);
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}