﻿@model LRC_NET_Framework.Models.SemesterModel

@{
    ViewBag.Title = "Add Semester";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="font-weight-bold" style="background-color: #357ebd; border-bottom-left-radius:7px; border-bottom-right-radius:7px; color:gainsboro; padding-top:5px; padding-bottom:5px; padding-left:30px;"><h4>Add New Semester</h4></div>

@using (Html.BeginForm("AdminAddSemester", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*<div class="form-group">
                <div class="col-md-3">
                    <p class="control-label"><span class="text-danger">*</span>  Semester Name</p>
                </div>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.SemesterName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SemesterName, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-3">
                    <p class="control-label"><span class="text-danger">*</span>  Semester Year</p>
                </div>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.SemesterYear, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
                    @Html.ValidationMessageFor(model => model.SemesterYear, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-3">
                <p class="control-label"><span class="text-danger">*</span>  Semester Start Date</p>
            </div>
            <div class="col-md-9">
                <fieldset>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.SemesterStartDate, "{0:yyyy-MM-dd}", new { @class = "form-control datecontrol", type = "date", style = "width: 150px;" })
                        @Html.ValidationMessageFor(model => model.SemesterStartDate, "", new { @class = "text-danger" })
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <p class="control-label"><span class="text-danger">*</span>  Semester End Date</p>
            </div>
            <div class="col-md-9">
                <fieldset>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.SemesterEndDate, "{0:yyyy-MM-dd}", new { @class = "form-control datecontrol", type = "date", style = "width: 150px;" })
                        @Html.ValidationMessageFor(model => model.SemesterEndDate, "", new { @class = "text-danger" })
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
