﻿@model LRC_NET_Framework.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="font-weight-bold" style="background-color: #357ebd; border-bottom-left-radius:7px; border-bottom-right-radius:7px; color:gainsboro; padding-top:5px; padding-bottom:5px; padding-left:30px;">
    <h4>
        Request Application Access
    </h4>
</div>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div style="font-size:smaller; padding-bottom:5px; border:solid; border-radius:5px; border-width:1px; border-color:gainsboro">
        <div class="col-md-11 h4">
            <div class="col-md-5" style="background-color:gainsboro;padding-top:5px;  padding-bottom:5px; padding-left:30px; border-bottom-left-radius:7px; border-bottom-right-radius:7px;">Apply Request</div>
        </div>
        <fieldset>

            <div class="row" style="padding-bottom:3px; padding-top:3px;">
                <div class="col-md-11 col-md-offset-1" id="UserLastFirstName">
                    @Html.Label("UserLastFirstName", "User Name", htmlAttributes: new { @class = "control-label" })<span class="text-danger">&nbsp;&nbsp;*</span>
                    @Html.TextBoxFor(m => m.UserLastFirstName, new { @class = "form-control", @required = "required", placeholder = "e.g.: Miller, Bill" })
                </div>
            </div>

            <div class="row" style="padding-bottom:3px; padding-top:3px;">
                <div class="col-md-11 col-md-offset-1" id="Email">
                    @Html.Label("Email", "Email", htmlAttributes: new { @class = "control-label", @required = "required" })<span class="text-danger">&nbsp;&nbsp;*</span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>

            <div class="row" style="padding-bottom:3px; padding-top:3px;">
                <div class="col-md-11 col-md-offset-1" id="Password">
                    @Html.Label("Password", "Password", htmlAttributes: new { @class = "control-label", @required = "required" })<span class="text-danger">&nbsp;&nbsp;*</span>
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>

            <div class="row" style="padding-bottom:3px; padding-top:3px;">
                <div class="col-md-11 col-md-offset-1" id="ConfirmPassword">
                    @Html.Label("ConfirmPassword", "Confirm Password", htmlAttributes: new { @class = "control-label", @required = "required" })<span class="text-danger">&nbsp;&nbsp;*</span>
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>


            <div class="row" style="padding-bottom:15px; padding-top:3px;">
                <div class="col-md-11 col-md-offset-1" id="Roles">
                    @Html.Label("Roles", "Roles", htmlAttributes: new { @class = "control-label", @required = "required" })<span class="text-danger">&nbsp;&nbsp;*</span>
                    @Html.DropDownList("Roles", ViewBag.Roles as SelectList, new { @class = "form-control", style = "width: 250px" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-1 col-md-11">
                    <input type="submit" class="btn btn-primary" value="Register" />
                </div>
            </div>

        </fieldset>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
