@{
    ViewBag.Title = "Request to Application Access";
}

    <div class="font-weight-bold" style="background-color: #357ebd; border-bottom-left-radius:7px; border-bottom-right-radius:7px; color:gainsboro; padding-top:5px; padding-bottom:5px; padding-left:30px;">
        <h4>
            @ViewBag.Title
        </h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-8 col-md-offset-1" style="background-color:lavender; margin-top:30px; padding:30px; border-radius:7px;">
                Thank you. <b>Your access request was sent to the administrator.</b><br><br>
                After confirmation, you will be able to log in to the application using the provided email and password. <br><br>
                Please keep your email and password.
            </div>
        </div>
    </div>



