@{
    Layout = null;
}
<div>
    <hr />
    <h2>To Be Done</h2>
    <div class="col-md-11 col-md-offset-1">
        <span class="text-danger">
            I'm not sure what should be done here. We do not have a separate table of notes templates in the ERD.
            We can already add notes for a specific member on his "Details Page".
        </span>
    </div>
    <hr>
    <hr>
    <div class="col-md-11 col-md-offset-1">
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>