﻿@model IEnumerable<LRC_NET_Framework.tb_Categories>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="font-weight-bold" style="background-color: #357ebd; border-bottom-left-radius:7px; border-bottom-right-radius:7px; color:gainsboro; padding-top:5px; padding-bottom:5px; padding-left:30px;"><h4>Statuses List</h4></div>

<div class="row" style="padding:5px 30px;">
    <a href="@Url.Action("Create")" class="btn btn-sm btn-info">Add New Status&nbsp;<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
</div>
<table class="table">
    <tr>
        <th>
            Status Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @if (item.CategoryID != 4)
                {
                    <span>@Html.ActionLink("Edit", "Edit", new { id = item.CategoryID })</span><span> | </span>
                    <span>@Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })</span>
                }
                else
                {
                    <span>Default Value</span>
                }

</td>
        </tr>
    }

</table>
