@{
    ViewBag.Title = "Manage Notes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="font-weight-bold" style="background-color: #357ebd; color:gainsboro; padding-top:10px; padding-bottom:5px; padding-left: 30px;"><h4>Building Department Management</h4></div>

@*<h3>Select College</h3>
    @Html.DropDownList("College", ViewBag.Colleges as SelectList, new { id = "college" })
    <h3>Select Campus</h3>
    @Html.DropDownList("Campus", ViewBag.Campuses as SelectList, new { id = "campus" })*@
<br />
<select class="selectpicker" multiple>
    <option>Mustard</option>
    <option>Ketchup</option>
    <option>Relish</option>
</select>



@section scripts{

}