﻿@model LRC_NET_Framework.Models.AddBuildingModel
@{
    ViewBag.Title = "Manage Notes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="font-weight-bold" style="background-color: #357ebd; border-bottom-left-radius:7px; border-bottom-right-radius:7px; color:gainsboro; padding-top:5px; padding-bottom:5px; padding-left:30px;"><h4>Building Department Management</h4></div>



@using (Html.BeginForm("AddBuilding", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="form-horizontal">
    <fieldset>
        <div class="form-group">
            <div class="col-md-11 col-md-offset-1" id="College">
                @Html.Label("College", "College", htmlAttributes: new { @class = "control-label" })<span class="text-danger">&nbsp;&nbsp;*</span>
                @Html.DropDownListFor(model => model._CollegeID, Model._Colleges, new { @id = "Colleges", @class = "form-control", @required = "required", style = "width: 250px;" })
                @Html.ValidationMessageFor(model => model._CollegeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="HiddenBlock" hidden="hidden">

            <div class="form-group">
                <div class="col-md-11 col-md-offset-1" id="Campus">
                    @Html.Label("Campus", "Campus", htmlAttributes: new { @class = "control-label" })<span class="text-danger">&nbsp;&nbsp;*</span>
                    @Html.DropDownListFor(model => model._CampusID, Model._Campuses, new { @id = "Campuses", @class = "form-control", @required = "required", style = "width: 250px;" })
                    @Html.ValidationMessageFor(model => model._CampusID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-11 col-md-offset-1" id="BuildingName">
                    @Html.Label("BuildingName", "BuildingName", htmlAttributes: new { @class = "control-label" })<span class="text-danger">&nbsp;&nbsp;*</span>
                    @Html.EditorFor(model => model._BuildingName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model._BuildingName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-11 col-md-offset-1" id="BuildingPicture" style="padding-bottom:15px;">
                    @Html.Label("BuildingPicture", "Picture of Building", htmlAttributes: new { @class = "control-label" })
                    <input class="btn btn-info" type="file" name="file" id="file" />
                    <span class="text-danger">@ViewBag.Message</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-1 col-md-11">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </div>

        </div>

        @using LRC_NET_Framework.Helpers
        @Html.CreateList(ViewData["ErrorList"] as List<string>)

        <div class="col-md-12" id="BuildingList" style="background-color:lavender; border:solid; margin-top:20px; border-radius:5px; border-width:1px; border-color:gainsboro">
            <div style="background-color:gainsboro; padding-bottom:5px; padding-left:30px; border-bottom-left-radius:5px; border-bottom-right-radius:5px;">@Html.Label("BuildingList", "Buildings List", htmlAttributes: new { @class = "control-label", style = "font-size:larger" })</div>

            <table class="table">
                <tr class="text-info">
                    <th class="text-left" width="20%">
                        Campus
                    </th>
                    <th class="text-left">
                        Building
                    </th>
                </tr>
                @foreach (var school in Model._tb_College)
                {
                <tr>
                    <td class="text-left" colspan="2" style="background-color:lightgray; font-weight:bold; border:solid; margin-top:20px; border-radius:5px; border-width:1px; border-color:gainsboro;">
                        @Html.DisplayFor(modelItem => school.CollegeName)
                    </td>
                </tr>
                foreach (var campus in school.tb_Campus)
                {
                    <tr>
                        <td class="text-left">
                            @Html.DisplayFor(modelItem => campus.CampusName)
                        </td>
                        <td class="text-left" style="color:slategrey;padding:5px; margin:5px; ">
                            @foreach (var building in campus.tb_Building)
                            {
                                if (building.ImagePath != null)
                                {
                                    <span style="white-space:nowrap; background-color:gainsboro; padding: 3px 7px 3px 7px; border:solid; border-width:1px; border-color:lightgray; border-radius:3px; line-height: 2">@Html.ActionLink(building.BuildingName, "GetPdfOrJpeg", new { fileName = building.ImagePath, form = "Building" }, new { target = "_blank" })</span>
                                }
                                else
                                {
                                    <span style="white-space:nowrap; background-color:gainsboro; padding: 3px 7px 3px 7px; border:solid; border-width:1px; border-color:lightgray; border-radius:3px; line-height: 2">@building.BuildingName</span>
                                }
                            }
                        </td>
                    </tr>
                }
                 }
            </table>
        </div>

        <div class="col-md-12 text-danger">
            <b>NOTE: </b>Department & Department Group are shared across school. This means you are responsible for maintaining consistent names of your schools. It also means you can't rename them because another local may be used that name. If you see <b>Fine Arts</b> but you want <b>Fine & Applied Arts</b>, then add it. But check to see if <b>Fine and Applied Arts</b> already exist (unless the ampersand is really important to you).
        </div>

    </fieldset>
</div>
}


@section Scripts {
    <script src='@Url.Content("~/Scripts/jquery-1.12.4.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")' type="text/javascript"></script>
    <script type="text/javascript">

$(document).ready(function () {
    if ($("#Colleges").val() != 0) {
        document.getElementById("HiddenBlock").hidden = false;
    }
    $("#Colleges").change(function() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetCampussesByCollegeId", "Activities")',
            datatype: JSON,
            data: {
                'CollegeId': $("#Colleges").val()
            },
            success: function(data) {
                $('#Campuses').empty();
                var obj = JSON.parse(data);
                if ($("#Colleges").val() != 0) {
                    document.getElementById("HiddenBlock").hidden = false;
                    $.each(obj, function () {
                        $("#Campuses").append($("<option></option >").val(this['Value']).html(this['Text']));
                    });
                }
                else {
                    document.getElementById("HiddenBlock").hidden = true;
                }
            },
            error: function(data) {}
        });
    });
});
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
@*@section scripts{
        @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
        <script>
            function CollegeChanged() {
                $("#DDLCollege").submit();
            }
        </script>
    }*@
