@{
    /**/

    Layout = null;
}

@using (Html.BeginForm("MembersBySchool", "Home", FormMethod.Post, new { @class = "margin-right: 0" }))
{
    <div style="font-size:smaller">
        <div class="row" style="margin: 7px">
            @Html.DropDownList("CollegeID", ViewBag.Colleges as SelectList, new { @class = "form-control", style = "width: 300px" })
        </div>

        <div class="row" style="margin: 7px">
            @Html.DropDownList("DepartmentID", null, htmlAttributes: new { @class = "form-control" })
        </div>

        <div style="text-align:center;">
            <button class="btn btn-primary" type="submit">
                <span>&nbsp;&nbsp;Applay&nbsp;Filter<span class="glyphicon glyphicon-filter pull-left" aria-hidden="true"></span></span>
            </button>
        </div>
    </div>
}
@section Scripts {

}
