﻿@{
    Layout = null;
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "margin-right: 0" }))
{
    <div style="font-size:smaller">
        <div class="col-md-6">
            <div class="row" style="margin: 7px">
                @Html.Label("SearchString", "Search String:", htmlAttributes: new { @class = "control-label" })
                @Html.TextBox("SearchString", null, new { @class = "form-control", placeholder = "Search", @Value = (string)ViewBag.Search, style = "width: 230px" })
            </div>

            <div class="row" style="margin: 7px">
                @Html.Label("CollegeID", "College: ", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("CollegeID", ViewBag.Colleges as SelectList, "-- Select One --", new { @class = "form-control", style = "width: 200px" })
            </div>

            <div class="row" style="margin: 7px">
                @Html.Label("DepartmentID", "Department: ", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("DepartmentID", ViewBag.Departments as SelectList, "-- Select One --", new { @class = "form-control", style = "width: 250px" })
            </div>

            <div class="row" style="margin: 7px">
                @Html.Label("SemesterID", "Semester: ", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("SemesterID", (IEnumerable<SelectListItem>)ViewBag.Semesters, "-- Select One --", new { @class = "form-control", style = "width: 250px" })
            </div>
        </div>

        <div class="col-md-6">
            <div class="row" style="margin: 7px">
                @Html.Label("IsActive", "Is Active: ", htmlAttributes: new { @class = "control-label" })
                @Html.CheckBox("IsActive", (bool)ViewBag.IsActive, new { @class = "form-check-input", style = "box-shadow: 2px 2px 2px 0px darkgrey;" })
            </div>
            
            <div class="row" style="margin: 7px;">
                @Html.Label("StatusID", "Status: ", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("StatusID", (IEnumerable<SelectListItem>)ViewBag.Statuses, "-- Select One --", new { @class = "form-control", style = "width: 200px" })
            </div>

            <div class="row" style="margin: 7px;">  @*pointer-events: none; opacity: 0.4; <- hide item*@
                @Html.Label("ClassCategoryID", "Class Category: ", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("ClassCategoryID", (IEnumerable<SelectListItem>)ViewBag.ClassCategories, "-- Select One --", new { @class = "form-control", style = "width: 200px" })
            </div>

            <div class="row" style="margin: 7px;">
                @Html.Label("MembershipID", "Membership: ", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("MembershipID", (IEnumerable<SelectListItem>)ViewBag.Memberships, "-- Select One --", new { @class = "form-control", style = "width: 230px" })
            </div>

            <div class="row" style="margin: 7px;">
                @Html.Label("MembershipCommitmentID", "Membership Commitment: ", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("MembershipCommitmentID", (IEnumerable<SelectListItem>)ViewBag.MembershipCommitments, "-- Select One --", new { @class = "form-control", style = "width: 150px" })
            </div>
        </div>
        <div class="col-md-6" style="text-align:right;">
            <button class="btn btn-primary" type="submit">
                <span>&nbsp;&nbsp;Apply&nbsp;Filter<span class="glyphicon glyphicon-filter pull-left" aria-hidden="true"></span></span>
            </button>
        </div>
</div>
    }
    @section scripts{

    }
