﻿@using LRC_NET_Framework.Models;
@model MemberDetailsModel


@{
    ViewBag.Title = "Manage Faculty Member";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<ul class="list-inline">
    <li role="button"><a href="@Url.Action("AddMemberSchedule", "SemesterTaught", new { @id = Model._Member.MemberID })" class="btn btn-default">Schedules&nbsp;&nbsp;<span class="glyphicon" aria-hidden="true"></span></a></li>
    <li role="button"><a href="@Url.Action("AddAssessment", "Assessment", new { @id = Model._Member.MemberID })" class="btn btn-default">Assessments&nbsp;&nbsp;<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
    <li role="button"><a href="@Url.Action("AddActivity", "Activities", new { @id = Model._Member.MemberID })" class="btn btn-default">Activities&nbsp;&nbsp;<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
    <li role="button"><a href="@Url.Action("ManageContactInfo", "Home", new { @id = Model._Member.MemberID })" class="btn btn-default">Contact Info&nbsp;&nbsp;<span class="glyphicon" aria-hidden="true"></span></a></li>
    <li role="button"><a href="@Url.Action("AddMembershipForm", "Home", new { @id = Model._Member.MemberID })" class="btn btn-default">Member Forms&nbsp;&nbsp;<span class="glyphicon" aria-hidden="true"></span></a></li>
    <li role="button"><a href="@Url.Action("AddCopeForm", "Home", new { @id = Model._Member.MemberID })" class="btn btn-default">COPE Forms&nbsp;&nbsp;<span class="glyphicon" aria-hidden="true"></span></a></li>
    <li role="button"><a href="@Url.Action("AddNote", "Notes", new { @id = Model._Member.MemberID })" class="btn btn-default">Notes&nbsp;&nbsp;<span class="glyphicon" aria-hidden="true"></span></a></li>
    <li role="button"><a href="@Url.Action("AddRole", "Roles", new { @id = Model._Member.MemberID })" class="btn btn-default">Roles&nbsp;&nbsp;<span class="glyphicon" aria-hidden="true"></span></a></li>
    <li role="button"><a href="@Url.Action("AlsoWorksAt", "Home", new { @id = Model._Member.MemberID })" class="btn btn-default">Also Works At&nbsp;&nbsp;<span class="glyphicon" aria-hidden="true"></span></a></li>
</ul>

<h2 style="font-family:sans-serif">@Html.DisplayFor(n => n._Member.LastName), @Html.DisplayFor(n => n._Member.FirstName)</h2>
<div class="row ex1 h6">
    <div class="col-md-3">
        <div class="row" style="padding-bottom:5px">
            <div class="col-md-5" style="font-weight:bold; text-align:right">
                Home School
            </div>
            <div class="col-md-7 text-muted">
                @Html.DisplayFor(n => n._Member.tb_Department.tb_College.CollegeName)
            </div>
        </div>
        <div class="row" style="padding-bottom:5px">
            <div class="col-md-5" style="font-weight:bold; text-align:right">
                Employee ID
            </div>
            <div class="col-md-7 text-muted">
                @Html.DisplayFor(n => n._Member.MemberIDNumber)
            </div>
        </div>
        <div class="row" style="padding-bottom:5px">
            <div class="col-md-5" style="font-weight:bold; text-align:right">
                JobClass
            </div>
            <div class="col-md-7 text-danger">
                LZ:keep it freeform
            </div>
        </div>
        <div class="row" style="padding-bottom:5px">
            <div class="col-md-5" style="font-weight:bold; text-align:right">
                Department
            </div>
            <div class="col-md-7 text-muted">
                @Html.DisplayFor(n => n._Member.tb_Department.DepartmentName)
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row" style="padding-bottom:5px">
            <div class="col-md-5" style="font-weight:bold; text-align:right">
                Status
            </div>
            <div class="col-md-7 text-muted">
                @Html.DisplayFor(n => n._Member.tb_Categories.CategoryName)
            </div>
        </div>
        <div class="row" style="padding-bottom:5px">
            <div class="col-md-5" style="font-weight:bold; text-align:right">
                Hire Date (Aprox)
            </div>
            <div class="col-md-7 text-muted">
                @if (Model._Member.HireDate != null)
                {
                    @Convert.ToDateTime(Model._Member.HireDate).ToString("MM/dd/yyyy")
                }
            </div>
        </div>
        <div class="row" style="padding-bottom:5px">
            <div class="col-md-5" style="font-weight:bold; text-align:right">
                Active
            </div>
            <div class="col-md-7 text-muted">
                @if (Model._Member.tb_SemesterTaught.Where(t => t.MemberID == Model._Member.MemberID).Count() > 0)
                {
                    <span>Active</span>
                }
                else
                {
                    <span>Inactive</span>
                }
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row" style="padding-bottom:5px">
            <div class="col-md-7" style="font-weight:bold; text-align:right">
                Member Status
            </div>
            <div class="col-md-5 text-muted">
                @Html.DisplayFor(n => n._Member.tb_MemberActivity.Where(t => t.MemberID == Model._Member.MemberID).LastOrDefault().tb_ActivityStatus.ActivityStatusName)
            </div>
        </div>
        <div class="row" style="padding-bottom:5px">
            <div class="col-md-7" style="font-weight:bold; text-align:right">
                Fee Payer Assess
            </div>
            <div class="col-md-5 text-muted">
                @if (Model._Member.LatestUnionAssessmentID != null)
                {
                    @Html.DisplayFor(n => n._Member.tb_LatestUnionAssessment.LatestUnionAssessmentDesc)
                }
                else
                {
                    <span>0</span>
                }
            </div>
        </div>
        <div class="row" style="padding-bottom:5px">
            <div class="col-md-7" style="font-weight:bold; text-align:right">
                Membership&nbsp;Commitment
            </div>
            <div class="col-md-5 text-muted">
                @Html.DisplayFor(n => n._Member.tb_MemberActivity.Where(t => t.MemberID == Model._Member.MemberID).LastOrDefault().MembershipCommitment)
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row" style="padding-bottom:5px">
            <div class="col-md-5" style="font-weight:bold; text-align:right">
                Phone
            </div>
            <div class="col-md-7 text-muted">
                @Html.DisplayFor(n => n._Member.tb_MemberPhoneNumbers.Where(t => t.IsPrimary == true).FirstOrDefault().PhoneNumber)
            </div>
        </div>
        <div class="row" style="padding-bottom:5px">
            <div class="col-md-5" style="font-weight:bold; text-align:right">
                Address
            </div>
            <div class="col-md-7 text-muted">
                @ViewBag.MemberAddress
            </div>
        </div>
    </div>
</div>
<a href="@Url.Action("Edit", "Home", new { id = Model._Member.MemberID })" class="btn btn-link">&nbsp;&nbsp;Edit<span class="glyphicon glyphicon-edit pull-left" aria-hidden="true"></span></a>

<div class="col-md-12" id="Schedule" style="background-color:lavender; border:solid; margin-top:10px; margin-bottom:10px; border-radius:5px; border-width:1px; border-color:gainsboro">
    <div class="col-md-12"  style="background-color:gainsboro; padding-top:5px; padding-left:30px; border-bottom-left-radius:5px; border-bottom-right-radius:5px;">@Html.Label("Schedule", "Schedule (Active)", htmlAttributes: new { @class = "control-label", style = "font-size:larger;" })</div>
    <table class="table h6">
        <tr style="background:lavender">
            <th>School</th>
            <th></th>
            <th>Campus</th>
            <th>Building</th>
            <th>Room</th>
            <th>Reason</th>
            <th>Class</th>
            <th>Days</th>
            <th>Start</th>
            <th>End</th>
            <th>Note</th>
            <th>Schedule Status</th>
        </tr>
        @foreach (var item in Model._Member.tb_SemesterTaught)
        {
            <tr style="color:dimgray;">
                <td>
                    @Html.DisplayFor(modelItem => item.tb_Building.tb_Campus.tb_College.CollegeName)
                </td>
                <td>
                    <a href="#" class="btn btn-xs"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tb_Building.tb_Campus.CampusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tb_Building.BuildingName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room)
                </td>
                <td class="danger">
                    ???
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Class)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tb_WeekDay.WeekDayName)
                </td>
                <td>
                    @DateTime.Today.Add(item.ClassStart).ToString("hh:mm tt")
                </td>
                <td>
                    @DateTime.Today.Add(item.ClassEnd).ToString("hh:mm tt")
                </td>
                <td class="danger">
                    ???
                </td>
                <td>
                    @if (item.ScheduleStatus)
                    {
                        <span>Active</span>
                    }
                    else
                    {
                        <span>Inactive</span>
                    }
                </td>
            </tr>
        }
    </table>
</div>

<div class="col-md-12" id="Activities" style="background-color:lavender; border:solid; margin-top:10px; margin-bottom:10px; border-radius:5px; border-width:1px; border-color:gainsboro">
    <div style="background-color:gainsboro; padding-top:5px; padding-left:30px; border-bottom-left-radius:5px; border-bottom-right-radius:5px;">@Html.Label("Activities", "Activities", htmlAttributes: new { @class = "control-label", style = "font-size:larger;" })</div>
    <table class="table h6">
        <tr style="background:lavender">
            <th>
                Activity Name
            </th>
            <th>
                Activity Date
            </th>
            <th>
                College
            </th>
            <th>
                Campus
            </th>
            <th>
                Note
            </th>
        </tr>

        @foreach (var item in Model._Member.tb_MemberActivity.Where(t => t.MemberID == Model._Member.MemberID))
        {
            if (item != null)
            {
        <tr style="color:dimgray;">
            <td>
                @Html.DisplayFor(modelItem => item.tb_Activity.ActivityName)
            </td>
            <td>
                @Convert.ToDateTime(item.tb_Activity.ActivityDate).ToString("MM/dd/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tb_Activity.tb_Campus.tb_College.CollegeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tb_Activity.tb_Campus.CampusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tb_Activity.ActivityNote)
            </td>
        </tr>
            }
            else
            {
                <tr style="color:dimgray;">
                    <td><span>No activities</span></td>
                </tr>
            }
        }
    </table>
    </div>

<div class="col-md-12" id="Roles" style="background-color:lavender; border:solid; margin-top:10px; margin-bottom:10px; border-radius:5px; border-width:1px; border-color:gainsboro">
    <div style="background-color:gainsboro; padding-top:5px; padding-left:30px; border-bottom-left-radius:5px; border-bottom-right-radius:5px;">@Html.Label("Roles", "Roles (Current)", htmlAttributes: new { @class = "control-label", style = "font-size:larger;" })</div>
    <table class="table h6">
        <tr style="background:lavender">
            <th>
                Role
            </th>
            <th>
                Body
            </th>
            <th>
                Start
            </th>
            <th>
                End
            </th>
        </tr>

        @foreach (var item in Model._Member.tb_MemberRoles.Where(t => t.MemberID == Model._Member.MemberID))
        {
            if (item != null)
            {
                <tr style="color:dimgray;">
                    <td>
                        @Html.DisplayFor(modelItem => item.tb_Roles.RoleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tb_Body.BodyName)
                    </td>
                    <td>
                        @if (item.StartDate != null)
                        {
                            @Convert.ToDateTime(item.StartDate).ToString("MM/dd/yyyy")
                        }
                    </td>
                    <td>
                        @if (item.EndDate != null)
                        {
                            @Convert.ToDateTime(item.EndDate).ToString("MM/dd/yyyy")
                        }
                    </td>
                </tr>
            }
            else
            {
                <tr style="color:dimgray;">
                    <td><span>No activities</span></td>
                </tr>
            }
        }

    </table>
    </div>

<div class="col-md-12" id="Assessments" style="background-color:lavender; border:solid; margin-top:10px; margin-bottom:10px; border-radius:5px; border-width:1px; border-color:gainsboro">
    <div style="background-color:gainsboro; padding-top:5px; padding-left:30px; border-bottom-left-radius:5px; border-bottom-right-radius:5px;">@Html.Label("Assessments", "Assessments", htmlAttributes: new { @class = "control-label", style = "font-size:larger;" })</div>
    <table class="table h6">
        <tr style="background:lavender">
            <th>
                Assessment Name
            </th>
            <th>
                Date
            </th>
            <th>
                Assessed By
            </th>
            <th>
                Value
            </th>
            <th>
                Evaluation
            </th>
        </tr>

        @foreach (var item in Model._AssessmentName)
        {
            foreach (var assess in item.tb_Assessment.Where(t => t.MemberID == Model._Member.MemberID))
            {
                if (item != null)
                {
                    <tr style="color:dimgray;">
                        <td>
                            @Html.DisplayFor(modelItem => item.AssessmentName)
                        </td>
                        <td>
                            @if (assess.AssessmentDate != null)
                            {
                                @Convert.ToDateTime(assess.AssessmentDate).ToString("MM/dd/yyyy")
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => assess.AspNetUsers1.LastFirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => assess.tb_AssessmentValue.ValueName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => assess.Evaluation)
                        </td>
                    </tr>
                }
                else
                {
                    <tr style="color:dimgray;">
                        <td><span>No activities</span></td>
                    </tr>
                }
            }
        }
    </table>
</div>

<div class="col-md-12" id="Notes" style="background-color:lavender; border:solid; margin-top:10px; margin-bottom:10px; border-radius:5px; border-width:1px; border-color:gainsboro">
    <div style="background-color:gainsboro; padding-top:5px; padding-left:30px; border-bottom-left-radius:5px; border-bottom-right-radius:5px;">@Html.Label("Notes", "Notes", htmlAttributes: new { @class = "control-label", style = "font-size:larger;" })</div>
    <table class="table h6">
        <tr style="background:lavender">
            <th>
                Note
            </th>
            <th>
                Note Type
            </th>
            <th>
                Date
            </th>
            <th>
                Taken By
            </th>
        </tr>

        @foreach (var item in Model._Member.tb_MemberNotes.Where(t => t.MemberID == Model._Member.MemberID))
        {
            if (item != null)
            {
                <tr style="color:dimgray;">
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tb_NoteType.NoteType)
                    </td>
                    <td>
                        @if (item.NoteDate != null)
                        {
                            @Convert.ToDateTime(item.NoteDate).ToString("MM/dd/yyyy")
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AspNetUsers.LastFirstName)
                    </td>
                </tr>
            }
            else
            {
                <tr style="color:dimgray;">
                    <td><span>No data</span></td>
                </tr>
            }
        }

    </table>
</div>

<div class="col-md-12" id="Phones" style="background-color:lavender; border:solid; margin-top:10px; margin-bottom:10px; border-radius:5px; border-width:1px; border-color:gainsboro">
    <div style="background-color:gainsboro; padding-top:5px; padding-left:30px; border-bottom-left-radius:5px; border-bottom-right-radius:5px;">@Html.Label("Phones", "Phones", htmlAttributes: new { @class = "control-label", style = "font-size:larger;" })</div>
    <table class="table h6">
        <tr style="background:lavender">
            <th>
                Phone Number
            </th>
            <th>
                Status
            </th>
            <th>
                Type
            </th>
            <th>
                Effective Start Date
            </th>
        </tr>

        @foreach (var item in Model._Member.tb_MemberPhoneNumbers.Where(t => t.MemberID == Model._Member.MemberID).OrderBy(s => s.CreatedDateTime))
        {
            if (item != null)
            {
                <tr style="color:dimgray;">
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @if (item.IsPrimary)
                        {
                            <span>Primary</span>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tb_PhoneType.PhoneTypeName)
                    </td>
                    <td>
                        @if (item.CreatedDateTime != null)
                        {
                            @Convert.ToDateTime(item.CreatedDateTime).ToString("MM/dd/yyyy")
                        }
                    </td>
                </tr>
            }
            else
            {
                <tr style="color:dimgray;">
                    <td><span>No data</span></td>
                </tr>
            }
        }

    </table>
</div>

<div class="col-md-12" id="Emails" style="background-color:lavender; border:solid; margin-top:10px; margin-bottom:10px; border-radius:5px; border-width:1px; border-color:gainsboro">
    <div style="background-color:gainsboro; padding-top:5px; padding-left:30px; border-bottom-left-radius:5px; border-bottom-right-radius:5px;">@Html.Label("Emails", "Emails", htmlAttributes: new { @class = "control-label", style = "font-size:larger;" })</div>
    <table style="background:lavender" class="table h6">
        <tr>
            <th>
                Email Address
            </th>
            <th>
                Type
            </th>
            <th>
                Status
            </th>
            <th>
                Effective Start Date
            </th>

        </tr>

        @foreach (var item in Model._Member.tb_MemberEmail.Where(t => t.MemberID == Model._Member.MemberID).OrderBy(s => s.CreatedDateTime))
        {
            if (item != null)
            {
                <tr style="color:dimgray;">
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tb_EmailType.EmailTypeName)
                    </td>
                    <td>
                        @if (item.IsPrimary)
                        {
                            <span>Primary</span>
                        }
                    </td>
                    <td>
                        @if (item.CreatedDateTime != null)
                        {
                            @Convert.ToDateTime(item.CreatedDateTime).ToString("MM/dd/yyyy")
                        }
                    </td>

                </tr>
            }
            else
            {
                <tr style="color:dimgray;">
                    <td><span>No data</span></td>
                </tr>
            }
        }

    </table>
</div>

<div class="col-md-12" id="Addresses" style="background-color:lavender; border:solid; margin-top:10px; margin-bottom:10px; border-radius:5px; border-width:1px; border-color:gainsboro">
    <div style="background-color:gainsboro; padding-top:5px; padding-left:30px; border-bottom-left-radius:5px; border-bottom-right-radius:5px;">@Html.Label("Addresses", "Addresses", htmlAttributes: new { @class = "control-label", style = "font-size:larger;" })</div>
    <table class="table h6">
        <tr style="background:lavender">
            <th>
                Address
            </th>
            <th>
                Status
            </th>
            <th>
                Effective Start Date
            </th>
            <th>
                Source
            </th>

        </tr>

        @foreach (var item in Model._Member.tb_MemberAddress.Where(t => t.MemberID == Model._Member.MemberID).OrderBy(s => s.CreatedDateTime))
        {
            if (item != null)
            {
                <tr style="color:dimgray;">
                    <td>
                        @{
                            var space = String.Empty;
                            if (!String.IsNullOrEmpty(@item.HomeStreet2))
                            {
                                space = " ";
                            }
                            var result = @item.HomeStreet1 + space + @item.HomeStreet2 + ", " + @item.City + ", " + @item.tb_States.StateCode + ", " + @item.ZipCode;
                        }
                        <span>@result</span>
                    </td>
                    <td>
                        @if (item.IsPrimary)
                        {
                            <span>Primary</span>
                        }
                    </td>
                    <td>
                        @if (item.CreatedDateTime != null)
                        {
                            @Convert.ToDateTime(item.CreatedDateTime).ToString("MM/dd/yyyy")
                        }
                    </td>
                    <td>
                        @if (item.SourceID == 3) //session user name was saved
                        {
                            @Html.DisplayFor(modelItem => item.AspNetUsers.LastFirstName)
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.tb_AddressSource.SourceName)
                        }
                    </td>

                </tr>
            }
            else
            {
                <tr style="color:dimgray;">
                    <td><span>No data</span></td>
                </tr>
            }
        }

    </table>
</div>

<div class="col-md-12" id="MembershipForms" style="background-color:lavender; border:solid; margin-top:10px; margin-bottom:10px; border-radius:5px; border-width:1px; border-color:gainsboro">
    <div style="background-color:gainsboro; padding-top:5px; padding-left:30px; border-bottom-left-radius:5px; border-bottom-right-radius:5px;">@Html.Label("MembershipForms", "Membership Forms", htmlAttributes: new { @class = "control-label", style = "font-size:larger;" })</div>
    <table class="table h6">
        <tr style="background:lavender">
            <th>
                Signed
            </th>
            <th>
                Collected&nbsp;By
            </th>
            <th>
                Form&nbsp;Image
            </th>
            <th>
                Added&nbsp;By
            </th>

        </tr>

        @foreach (var item in Model._Member.tb_MembershipForms.Where(t => t.MemberID == Model._Member.MemberID))
        {
            if (item != null)
            {
                <tr style="color:dimgray;">
                    <td>
                        @Convert.ToDateTime(item.Signed).ToString("MM/dd/yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AspNetUsers1.LastFirstName)
                    </td>
                    <td>
                        <p>@Html.ActionLink(item.FormImagePath, "GetPdfOrJpeg", new { fileName = item.FormImagePath, form = "MembershipForms" }, new { target = "_blank" })</p>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AspNetUsers.LastFirstName)
                    </td>

                </tr>
            }
            else
            {
                <tr style="color:dimgray;">
                    <td><span>No data</span></td>
                </tr>
            }
        }

    </table>
</div>

<div class="col-md-12" id="CopeForms" style="background-color:lavender; border:solid; margin-top:10px; margin-bottom:10px; border-radius:5px; border-width:1px; border-color:gainsboro">
    <div style="background-color:gainsboro; padding-top:5px; padding-left:30px; border-bottom-left-radius:5px; border-bottom-right-radius:5px;">@Html.Label("CopeForms", "COPE Forms", htmlAttributes: new { @class = "control-label", style = "font-size:larger;" })</div>
    <table class="table h6">
        <tr style="background:lavender">
            <th>
                Signed
            </th>
            <th>
                Monthly&nbsp;Contribution
            </th>
            <th>
                Collected&nbsp;By
            </th>
            <th>
                Form&nbsp;Image
            </th>
            <th>
                Added&nbsp;By
            </th>

        </tr>

        @foreach (var item in Model._Member.tb_CopeForms.Where(t => t.MemberID == Model._Member.MemberID))
        {
            if (item != null)
            {
        <tr style="color:dimgray;">
            <td>
                @Convert.ToDateTime(item.Signed).ToString("MM/dd/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlyContribution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUsers1.LastFirstName)
            </td>
            <td>
                <p>@Html.ActionLink(item.FormImagePath, "GetPdfOrJpeg", new { fileName = item.FormImagePath, form = "CopeForms" }, new { target = "_blank" })</p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUsers.LastFirstName)
            </td>

        </tr>
            }
            else
            {
                <tr style="color:dimgray;">
                    <td><span>No data</span></td>
                </tr>
            }
        }

    </table>
</div>


