﻿@{
    Layout = null;
}
<div class="font-weight-bold" style="text-align:center; background-color: lavender; border-radius:7px; margin-top:20px; padding-top:5px; padding-bottom:5px; padding-left:5px;">
    <h4>Select the format to export the data in</h4>
</div>
<hr />

<div style="text-align:center;">
    <ul class="list-inline">
        <li role="button">
            <a href="@Url.Action("ExportToCsv", "Home", new { searchString = ViewBag.Search, CollegeID = (int)ViewBag.CollegeID,
            DepartmentID = (int)ViewBag.DepartmentID, SemesterID = (int)ViewBag.SemesterID, IsActive = (bool)ViewBag.IsActive, StatusID = (int)ViewBag.StatusID,
            ClassCategoryID = (int)ViewBag.ClassCategoryID, MembershipID = (int)ViewBag.MembershipID, MembershipCommitmentID = (int)ViewBag.MembershipCommitmentID })" class="btn btn-default">
                (.CSV)&nbsp;
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            </a>
        </li>
        <li role="button">
            <a href="@Url.Action("ExportToTxt", "Home", new { searchString = ViewBag.Search, CollegeID = (int)ViewBag.CollegeID,
            DepartmentID = (int)ViewBag.DepartmentID, SemesterID = (int)ViewBag.SemesterID, IsActive = (bool)ViewBag.IsActive, StatusID = (int)ViewBag.StatusID,
            ClassCategoryID = (int)ViewBag.ClassCategoryID, MembershipID = (int)ViewBag.MembershipID, MembershipCommitmentID = (int)ViewBag.MembershipCommitmentID })" class="btn btn-default">
                (.TXT)&nbsp;
                <span class="glyphicon glyphicon-font" aria-hidden="true"></span>
            </a>
        </li>
    </ul>
</div>
