@model IEnumerable<LRC_NET_Framework.tb_Campus>

<div id="searchresults">

    <div class="form-group">
        <div class="col-md-11 col-md-offset-1" id="Campus">
            @Html.Label("Campus", "Campus", htmlAttributes: new { @class = "control-label" })<span class="text-danger">&nbsp;&nbsp;*</span>
            @Html.DropDownList("Campus", ViewBag.Campuses as SelectList, new { @class = "form-control", style = "width: 300px" })
            <small><i style="color:gray;">You must select a campus before adding a building</i></small>
            @*@Html.ValidationMessageFor(model => model.CollegeID, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-11 col-md-offset-1" id="Building">
            @Html.Label("Building", "Building", htmlAttributes: new { @class = "control-label" })<span class="text-danger">&nbsp;&nbsp;*</span>
            <input type="text" name="BuildingName" class = "form-control" />
            @*@Html.ValidationMessageFor(model   => model.CollegeID, "", new { @class = "text-danger" })*@
        </div>
    </div>

</div>
