﻿@model PagedList.IPagedList<LRC_NET_Framework.tb_MemberMaster>
@using PagedList.Mvc

@{
    ViewBag.Title = "Local List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<ul class="list-inline">
    <li role="button">
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown">
                School&nbsp;&nbsp;&nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                @foreach (var c in ViewBag.Colleges)
                {
                    <li role="button"><a style="text-align:left" href="@Url.Action("MembersBySchool", "Home", new { CollegeID = @c.Value })" class="btn btn-link">@c.Text</a></li>
                }
            </ul>
        </div>
    </li>
    <li role="button"><a href="@Url.Action("CreateNewMember", "Home")" class="btn btn-sm btn-info">Member&nbsp;<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
    <li role="button"><a href="@Url.Action("Index", "Activities")" class="btn btn-sm btn-info">Activities&nbsp;<span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></li>
    <li role="button"><a href="@Url.Action("Index", "Assessment")" class="btn btn-sm btn-info">Assessments&nbsp;<span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></li>
    <li role="button"><a href="#" class="btn btn-sm btn-info">Attributes&nbsp;<span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></li>
    <li role="button"><a href="@Url.Action("Index", "Notes")" class="btn btn-sm btn-info">Notes&nbsp;<span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></li>
    <li role="button"><a href="@Url.Action("Index", "Roles")" class="btn btn-sm btn-info">Roles&nbsp;<span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></li>
    <li role="button"><a href="@Url.Action("AddBuilding", "Home")" class="btn btn-sm btn-info">Bldgs & Depts&nbsp;<span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></li>
    <li role="button"><a href="@Url.Action("MembershipFormsList", "Home")" class="btn btn-sm btn-info">Membership Forms&nbsp;<span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></li>
    <li role="button"><a href="#" class="btn btn-sm btn-info">COPE Forms&nbsp;<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></a></li>
    <li role="button"><a href="#" class="btn btn-sm btn-info">Local&nbsp;<span class="glyphicon glyphicon-stats" aria-hidden="true"></span></a></li>
    <li role="button">
        <a href="@Url.Action("AddFilterHome", "Home", new { searchString = ViewBag.Search, CollegeID = (int)ViewBag.CollegeID,
            DepartmentID = (int)ViewBag.DepartmentID, SemesterID = (int)ViewBag.SemesterID, IsActive = (bool)ViewBag.IsActive, StatusID = (int)ViewBag.StatusID,
            ClassCategoryID = (int)ViewBag.ClassCategoryID, MembershipID = (int)ViewBag.MembershipID, MembershipCommitmentID = (int)ViewBag.MembershipCommitmentID })"
           class="btn btn-default btn-sm viewDialog" ,
           data-dialog-title="Add Filter">&nbsp;Add&nbsp;Filter<span class="glyphicon glyphicon-filter pull-left" aria-hidden="true"></span></a>
    </li>
    <li role="button">
        <a href="@Url.Action("ExportData", "Home", new { searchString = ViewBag.Search, CollegeID = (int)ViewBag.CollegeID,
            DepartmentID = (int)ViewBag.DepartmentID, SemesterID = (int)ViewBag.SemesterID, IsActive = (bool)ViewBag.IsActive, StatusID = (int)ViewBag.StatusID,
            ClassCategoryID = (int)ViewBag.ClassCategoryID, MembershipID = (int)ViewBag.MembershipID, MembershipCommitmentID = (int)ViewBag.MembershipCommitmentID })"
           class="btn btn-default btn-sm viewDialog" ,
           data-dialog-title="Export Data (Member with Schedule)">&nbsp;Export&nbsp;Data<span class="glyphicon glyphicon-export pull-left" aria-hidden="true"></span></a>
    </li>
    @*<li role="button">
        <a href="@Url.Action("ExportData", "Home", new { searchString = ViewBag.Search, CollegeID = (int)ViewBag.CollegeID,
            DepartmentID = (int)ViewBag.DepartmentID, SemesterID = (int)ViewBag.SemesterID, IsActive = (bool)ViewBag.IsActive, StatusID = (int)ViewBag.StatusID,
            ClassCategoryID = (int)ViewBag.ClassCategoryID, MembershipID = (int)ViewBag.MembershipID, MembershipCommitmentID = (int)ViewBag.MembershipCommitmentID })"
           class="btn btn-default btn-sm viewDialog" ,
           data-dialog-title="Export Data">&nbsp;Export&nbsp;Data<span class="glyphicon glyphicon-export pull-left" aria-hidden="true"></span></a>
    </li>*@
</ul>

<div class="row ex1">
    <div class="col-md-2 align-text-top"><small>Showing @Model.FirstItemOnPage - @Model.Count()&nbsp;&nbsp;of&nbsp;&nbsp;@ViewData["MemberQty"]</small></div>
    <div class="col-md-3 align-text-top"></div>
    <div class="col-md-7 text-muted"></div>
</div>

<div class="ex1">
    <table class="table table-bordered table-sm" style="font-size:smaller;">
        <tr>
            <th style="vertical-align:middle; background-color:gainsboro;">
                @Html.ActionLink("Faculty Member", "Index", new
                {
                    sortOrder = ViewBag.NameSortParm,
                    searchString = ViewBag.Search,
                    CollegeID = (int)ViewBag.CollegeID,
                    DepartmentID = (int)ViewBag.DepartmentID,
                    SemesterID = (int)ViewBag.SemesterID,
                    IsActive = (bool)ViewBag.IsActive,
                    StatusID = (int)ViewBag.StatusID,
                    ClassCategoryID = (int)ViewBag.ClassCategoryID,
                    MembershipID = (int)ViewBag.MembershipID,
                    MembershipCommitmentID = (int)ViewBag.MembershipCommitmentID
                })
            </th>
            <th style="vertical-align:middle; background-color:gainsboro;">
                @Html.ActionLink("Status", "Index", new
                {
                    sortOrder = ViewBag.StatusSortParm,
                    searchString = ViewBag.Search,
                    CollegeID = (int)ViewBag.CollegeID,
                    DepartmentID = (int)ViewBag.DepartmentID,
                    SemesterID = (int)ViewBag.SemesterID,
                    IsActive = (bool)ViewBag.IsActive,
                    StatusID = (int)ViewBag.StatusID,
                    ClassCategoryID = (int)ViewBag.ClassCategoryID,
                    MembershipID = (int)ViewBag.MembershipID,
                    MembershipCommitmentID = (int)ViewBag.MembershipCommitmentID
                })
            </th>
            <th style="vertical-align:middle; background-color:gainsboro; text-align:center">
                Home&nbsp;School
            </th>
            <th style="vertical-align:middle; background-color:gainsboro; text-align:center">
                @Html.ActionLink("Class Category", "Index", new
                {
                    sortOrder = ViewBag.ClassCategorySortParm,
                    searchString = ViewBag.Search,
                    CollegeID = (int)ViewBag.CollegeID,
                    DepartmentID = (int)ViewBag.DepartmentID,
                    SemesterID = (int)ViewBag.SemesterID,
                    IsActive = (bool)ViewBag.IsActive,
                    StatusID = (int)ViewBag.StatusID,
                    ClassCategoryID = (int)ViewBag.ClassCategoryID,
                    MembershipID = (int)ViewBag.MembershipID,
                    MembershipCommitmentID = (int)ViewBag.MembershipCommitmentID
                })
            </th>
            <th style="vertical-align:middle; background-color:gainsboro; text-align:center">
                Department
            </th>
            <th style="vertical-align:middle; background-color:gainsboro; text-align:center">
                Role
            </th>
            <th style="vertical-align:middle; background-color:gainsboro; text-align:center">
                COPE
            </th>
            <th style="vertical-align:middle; background-color:gainsboro; text-align:center">
                Dues
            </th>
            <th style="vertical-align:middle; background-color:gainsboro; text-align:center">
                @Html.ActionLink("Activity Status", "Index", new
                {
                    sortOrder = ViewBag.MembershipSortParm,
                    searchString = ViewBag.Search,
                    CollegeID = (int)ViewBag.CollegeID,
                    DepartmentID = (int)ViewBag.DepartmentID,
                    SemesterID = (int)ViewBag.SemesterID,
                    IsActive = (bool)ViewBag.IsActive,
                    StatusID = (int)ViewBag.StatusID,
                    ClassCategoryID = (int)ViewBag.ClassCategoryID,
                    MembershipID = (int)ViewBag.MembershipID,
                    MembershipCommitmentID = (int)ViewBag.MembershipCommitmentID
                })
            </th>
            <th style="vertical-align:middle; background-color:gainsboro; text-align:center">
                Member Form
            </th>
            <th style="vertical-align:middle; background-color:gainsboro; text-align:center">
                Fee Payer Assess
            </th>
            <th style="vertical-align:middle; background-color:gainsboro; text-align:center">
                @Html.ActionLink("Assessment Value", "Index", new
                {
                    sortOrder = ViewBag.MembershipCommitmentSortParm,
                    searchString = ViewBag.Search,
                    CollegeID = (int)ViewBag.CollegeID,
                    DepartmentID = (int)ViewBag.DepartmentID,
                    SemesterID = (int)ViewBag.SemesterID,
                    IsActive = (bool)ViewBag.IsActive,
                    StatusID = (int)ViewBag.StatusID,
                    ClassCategoryID = (int)ViewBag.ClassCategoryID,
                    MembershipID = (int)ViewBag.MembershipID,
                    MembershipCommitmentID = (int)ViewBag.MembershipCommitmentID
                })
            </th>
            <th style="vertical-align:middle; background-color:gainsboro; text-align:center">
                Phone
            </th>
            <th style="vertical-align:middle; background-color:gainsboro; text-align:center">
                Address
            </th>
            <th style="vertical-align:middle; background-color:gainsboro; text-align:center">
                Active Status
            </th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.ActionLink(item.LastName + ", " + item.FirstName + ", " + item.MiddleName, "Details", "Home", new { id = item.MemberID }, new { @class = "text -info" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_Categories.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_Department.tb_College.CollegeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_JobStatus.JobStatusName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_Department.DepartmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_MemberRoles.Where(t => t.MemberID == item.MemberID).LastOrDefault().tb_Roles.RoleName)
        </td>
        <td align="center">
            @if (item.tb_CopeForms != null && item.tb_CopeForms.Count > 0)
            {
                <a href="@Url.Action("GetPdfOrJpeg", new { fileName = item.tb_CopeForms.Where(s => s.MemberID == item.MemberID).LastOrDefault().FormImagePath, form = "CopeForms" })" class="btn btn-xs" target="_blank"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span></a>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_Dues.DuesName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_MemberActivity.Where(t => t.MemberID == item.MemberID).LastOrDefault().tb_ActivityStatus.ActivityStatusName)
        </td>
        <td align="center">
            @if (item.tb_MembershipForms != null && item.tb_MembershipForms.Count > 0)
            {
                <a href="@Url.Action("GetPdfOrJpeg", new { fileName = item.tb_MembershipForms.Where(s => s.MemberID == item.MemberID).LastOrDefault().FormImagePath, form = "MembershipForms" })" class="btn btn-xs" target="_blank"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span></a>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_Assessment.Where(t => t.MemberID == item.MemberID).LastOrDefault().tb_AssessmentName.AssessmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_MemberActivity.Where(t => t.MemberID == item.MemberID).LastOrDefault().MembershipCommitment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_MemberPhoneNumbers.Where(t => t.MemberID == item.MemberID).Where(p => p.IsPrimary == true).FirstOrDefault().PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_MemberAddress.Where(t => t.MemberID == item.MemberID).FirstOrDefault().HomeStreet1),
            @Html.DisplayFor(modelItem => item.tb_MemberAddress.Where(t => t.MemberID == item.MemberID).FirstOrDefault().HomeStreet2)
            @Html.DisplayFor(modelItem => item.tb_MemberAddress.Where(t => t.MemberID == item.MemberID).FirstOrDefault().City),
            @Html.DisplayFor(modelItem => item.tb_MemberAddress.Where(t => t.MemberID == item.MemberID).FirstOrDefault().tb_States.StateCode),
            @Html.DisplayFor(modelItem => item.tb_MemberAddress.Where(t => t.MemberID == item.MemberID).FirstOrDefault().ZipCode)
        </td>
        <td>
            @*@if(item.tb_MemberActivity)*@
        </td>
        @*<td>
            <div class="btn-group" role="group" aria-label="...">
                @Html.ActionLink("Edit", "Edit", new { id = item.MemberID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Details", "Details", new { id = item.MemberID }, new { @class = "btn btn-info" })
                @Html.ActionLink("Delete", "Delete", new { id = item.MemberID }, new { @class = "btn btn-danger" })
            </div>
        </td>*@
    </tr>
        }
    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) from @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new
    {
        page,
        CollegeID = ViewBag.CollegeID,
        DepartmentID = ViewBag.DepartmentID,
        SemesterID = (int)ViewBag.SemesterID,
        IsActive = (bool)ViewBag.IsActive,
        StatusID = (int)ViewBag.StatusID,
        ClassCategoryID = (int)ViewBag.ClassCategoryID,
        MembershipID = (int)ViewBag.MembershipID,
        MembershipCommitmentID = (int)ViewBag.MembershipCommitmentID,
        searchString = ViewBag.Search
    }))
</div>


@section Scripts {
    <script src='@Url.Content("~/Scripts/jquery-1.12.4.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")' type="text/javascript"></script>
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {

            $.ajaxSetup({ cache: false });

            $(".viewDialog").on("click", function (e) {
                e.preventDefault();

                $("<div></div>")
                    .addClass("dialog")
                    .appendTo("body")
                    .dialog({
                        closeText: "",
                        title: $(this).attr("data-dialog-title"),
                        close: function () { $(this).remove() },
                        height: 400,
                        width: 700,
                        modal: true
                    })
                    .load(this.href);
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

}
