﻿@model PagedList.IPagedList<LRC_NET_Framework.tb_MemberMaster>
@using PagedList.Mvc
@{
    ViewBag.Title = "School List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.CollegeName</h2>
<div style="font-size:smaller">
    @using (Html.BeginForm("MembersBySchool", "Home", FormMethod.Post, new { @class = "margin-right: 0" }))
    {
        @Html.Hidden("CollegeID", (int)ViewBag.CollegeID)
        <div class="form-group row list-inline">
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                    @Html.TextBox("SearchString", null, new { @class = "form-control", placeholder = "Search" })
                </div>
            </div>
            <div class="col-md-8" style="text-align:right">
                <ul class="list-inline">
                    <li>
                        Showing @Model.FirstItemOnPage - @Model.LastItemOnPage&nbsp;&nbsp;of&nbsp;&nbsp;@Model.TotalItemCount
                    </li>
                    <li role="button"><a href="@Url.Action("AddFilterBySchool", "Home", new { CollegeID = (int)ViewBag.CollegeID, DepartmentID = (int)ViewBag.DepartmentID })" class="btn btn-default btn-sm viewDialog" , data-dialog-title="Add Filter">&nbsp;Add&nbsp;Filter<span class="glyphicon glyphicon-filter pull-left" aria-hidden="true"></span></a></li>
                    <li role="button"><a href="@Url.Action("ExportData", "Home", new { CollegeID = (int)ViewBag.CollegeID, DepartmentID = (int)ViewBag.DepartmentID })" class="btn btn-default btn-sm viewDialog", data-dialog-title="Export Data">&nbsp;Export&nbsp;Data<span class="glyphicon glyphicon-export pull-left" aria-hidden="true"></span></a></li>
                </ul>
            </div>
        </div>

        <div class="ex1">
            <table class="table table-bordered table-sm">
                @foreach (var item in Model)
                {
                    <tr style="background-color:gainsboro;">
                        <td style="padding-bottom:0px;">
                            <div class="row col-md-12" style="padding-bottom:0px;">
                                <div class="row">
                                    <div class="col-md-2" style="border-bottom-left-radius:10px; border-top-left-radius:10px; font-weight:bold; height:25px; padding-right:0; padding-bottom:4px; padding-top:4px; text-align:right; background:lavender;">
                                        Faculty&nbsp;Member:
                                    </div>
                                    <div class="col-md-5 text-muted" style="overflow:hidden; padding-left:3px; height:25px; font-weight:bold; background:lavender">
                                        <div style="width: 100%;">
                                            <div style="float: left; padding-bottom:4px; padding-top:4px;">
                                                @Html.ActionLink(item.LastName + ", " + item.FirstName, "Edit", "Home", new { id = item.MemberID, CollegeID = ViewBag.CollegeID }, new { @class = "text -info" })
                                            </div>
                                            <div style="float: left; margin-left:20px; padding-bottom:6px; padding-top:4px;">
                                                <a href="@Url.Action("AddPersonAssessmentActivity", "Assessment", new { @id = item.MemberID, CollegeID = ViewBag.CollegeID })" class="btn-sm btn-link"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                                            </div>
                                            <div style="float: left; margin-left:20px; padding-bottom:4px; padding-top:4px;">
                                                Phone:
                                            </div>
                                            <div style="float: left; margin-left:3px; padding-bottom:4px; padding-top:4px;">
                                                @if (item.tb_MemberPhoneNumbers.Where(t => t.IsPrimary == true).Count() > 0)
                                                {
                                                    @Html.ActionLink(item.tb_MemberPhoneNumbers.Where(t => t.IsPrimary == true).LastOrDefault().PhoneNumber, "ManageContactInfo", "Home", new { id = item.MemberID, CollegeID = ViewBag.CollegeID }, new { @class = "text -info" })
                                                }
                                                else
                                                {
                                                    @Html.ActionLink("Add Pnone", "ManageContactInfo", "Home", new { id = item.MemberID, CollegeID = ViewBag.CollegeID }, new { @class = "text -info" })
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 row" style="float: left; padding-bottom:4px; padding-top:4px;">
                                        <div class="col-md-4" style="font-weight:bold; text-align:right; padding-right:0;">
                                            Home School:
                                        </div>
                                        <div class="col-md-7 text-muted" style="padding-left:5px;">
                                            @Html.DisplayFor(modelItem => item.tb_Department.tb_College.CollegeName)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="padding-top:7px;">

                                <div class="col-md-4 row" style="padding-bottom:5px">
                                    <div class="col-md-4" style="font-weight:bold; text-align:right; padding-right:0;">
                                        Home School:
                                    </div>
                                    <div class="col-md-7 text-muted" style="padding-left:5px;">
                                        @Html.DisplayFor(modelItem => item.tb_Department.tb_College.CollegeName)
                                    </div>
                                </div>

                                <div class="col-md-2 row" style="padding-bottom:5px">
                                    <div class="col-md-5" style="font-weight:bold; text-align:right; padding-right:0;">
                                        Category:
                                    </div>
                                    <div class="col-md-7 text-muted" style="padding-left:5px;">
                                        @Html.DisplayFor(modelItem => item.tb_Categories.CategoryName)
                                    </div>
                                </div>

                                <div class="col-md-3 row" style="padding-bottom:5px">
                                    <div class="col-md-4" style="font-weight:bold; text-align:right; padding-right:0;">
                                        Department:
                                    </div>
                                    <div class="col-md-8 text-muted" style="padding-left:5px;">
                                        @Html.DisplayFor(modelItem => item.tb_Department.DepartmentName)
                                    </div>
                                </div>

                                <div class="col-md-2 row" style="padding-bottom:5px">
                                    <div class="col-md-8" style="font-weight:bold; text-align:right; padding-right:0;">
                                        Mbrp&nbsp;Com:
                                    </div>
                                    <div class="col-md-4 text-muted" style="padding-left:5px;">
                                        @Html.DisplayFor(modelItem => item.tb_MemberActivity.Where(t => t.MemberID == item.MemberID).LastOrDefault().MembershipCommitment)
                                    </div>
                                </div>

                                <div class="col-md-2 row" style="padding-bottom:5px">
                                    <div class="col-md-7" style="font-weight:bold; text-align:right; padding-right:0;">
                                        Membership:
                                    </div>
                                    <div class="col-md-5 text-muted" style="padding-left:5px;">
                                        @Html.DisplayFor(modelItem => item.tb_MemberActivity.Where(t => t.MemberID == item.MemberID).LastOrDefault().tb_ActivityStatus.ActivityStatusName)
                                    </div>
                                </div>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            <table class="table table-sm">
                                <tr>
                                    <th style="background-color:gainsboro;">
                                        <i>Campus</i>
                                    </th>
                                    <th style="background-color:gainsboro;">
                                        <i>Building</i>
                                    </th>
                                    <th style="background-color:gainsboro;">
                                        <i>Room</i>
                                    </th>
                                    <th style="background-color:gainsboro;">
                                        <i>Note</i>
                                    </th>
                                    <th style="background-color:gainsboro;">
                                        <i>Class</i>
                                    </th>

                                    <th style="background-color:gainsboro;">
                                        <i>Start</i>
                                    </th>
                                    <th style="background-color:gainsboro;">
                                        <i>End</i>
                                    </th>
                                    <th style="background-color:gainsboro;">
                                        <i>Days</i>
                                    </th>
                                </tr>
                                @foreach (var record in item.tb_SemesterTaught)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => record.tb_Building.tb_Campus.CampusName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => record.tb_Building.BuildingName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => record.Room)
                                        </td>
                                        <td>???</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => record.Class)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => record.ClassStart)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => record.ClassEnd)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => record.tb_WeekDay.WeekDayName)
                                        </td>
                                    </tr>
                                }
                            </table>
                        </td>
                    </tr>
                }
            </table>
            <br />
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) from @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("MembersBySchool", new { page, CollegeID = ViewBag.CollegeID, DepartmentID = ViewBag.DepartmentID, searchString = ViewBag.Search }))
        </div>
    }
</div>

@section Scripts {
    <script src='@Url.Content("~/Scripts/jquery-1.12.4.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")' type="text/javascript"></script>
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <script>
            $(document).ready(function () {

                $.ajaxSetup({ cache: false });

                $(".viewDialog").on("click", function (e) {
                    e.preventDefault();

                    $("<div></div>")
                        .addClass("dialog")
                        .appendTo("body")
                        .dialog({
                            closeText: "",
                            title: $(this).attr("data-dialog-title"),
                            close: function () { $(this).remove() },
                            height: 300,
                            width: 500,
                            modal: true
                        })
                        .load(this.href);
                });
            });
    </script>

    <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
    </script>

}