﻿@model PagedList.IPagedList<LRC_NET_Framework.tb_Activity>
@using PagedList.Mvc
@{
    ViewBag.Title = "All Activities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<ul class="list-inline">
    @*<li role="button"><a href="@Url.Action("NotSure", "Activities")" class="btn btn-info viewDialog" , data-dialog-title="Question">&nbsp;Activity<span class="glyphicon glyphicon-plus pull-left" aria-hidden="true"></span></a></li>*@
    <li role="button"><a href="@Url.Action("AddActivityByMember", "Activities")" class="btn btn-info">&nbsp;Activity<span class="glyphicon glyphicon-plus pull-left" aria-hidden="true"></span></a></li>
    <li role="button"><a href="#" class="btn btn-info">&nbsp;Reports<span class="glyphicon glyphicon-stats pull-left" aria-hidden="true"></span></a></li>
</ul>

<h2>All Activities</h2>
@using (Html.BeginForm("Index", "Activities", FormMethod.Post, new { @class = "margin-right: 0" }))
{
    <div class="form-group row list-inline">
        <div class="col-md-2">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
                @Html.TextBox("SearchString", null, new { @class = "form-control", placeholder = "Search" })
            </div>
        </div>
    </div>
}
<div class="row ex1">
    <div class="col-md-2 align-text-top"><small>Showing @Model.FirstItemOnPage - @Model.Count()&nbsp;&nbsp;of&nbsp;&nbsp;@ViewData["MemberQty"]</small></div>
    <div class="col-md-3 align-text-top"></div>
    <div class="col-md-7"></div>
</div>
<div class="col-md-12" id="Activities" style="background-color:lavender; border:solid; margin-top:10px; margin-bottom:10px; border-radius:5px; border-width:1px; border-color:gainsboro">
    <table class="table" style="font-size:smaller;">
        <tr style="background:gainsboro;">
            <th>
                Faculty Member
            </th>
            <th>
                Phone
            </th>
            <th>
                Email
            </th>
            <th>
                Status
            </th>
            <th>
                @Html.ActionLink("Activity Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                Activity Date
            </th>
            <th>
                College
            </th>
            <th>
                Campus
            </th>
            <th>
                Note
            </th>
        </tr>
        @foreach (var action in Model)
        {
            foreach (var item in action.tb_MemberActivity)
            {
                <tr style="color:dimgray; background:lavender;">
                    <td>
                        @Html.ActionLink(item.tb_MemberMaster.LastName + ", " + item.tb_MemberMaster.FirstName, "Details", "Home", new { id = item.tb_MemberMaster.MemberID }, new { @class = "text -info" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tb_MemberMaster.tb_MemberPhoneNumbers.Where(t => t.tb_MemberMaster.MemberID == item.tb_MemberMaster.MemberID).FirstOrDefault().PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tb_MemberMaster.tb_MemberEmail.Where(t => t.tb_MemberMaster.MemberID == item.tb_MemberMaster.MemberID).FirstOrDefault().EmailAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tb_ActivityStatus.ActivityStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => action.ActivityName)
                    </td>
                    <td>
                        @Convert.ToDateTime(action.ActivityDate).ToString("MM/dd/yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => action.tb_Campus.tb_College.CollegeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => action.tb_Campus.CampusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => action.ActivityNote)
                    </td>
                </tr>
            }
        }
    </table>
</div>
<br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) from @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

    @section Scripts {
        <script src='@Url.Content("~/Scripts/jquery-1.12.4.min.js")' type="text/javascript"></script>
        <script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")' type="text/javascript"></script>
        <link href="~/Content/themes/base/all.css" rel="stylesheet" />
        <script>
            $(document).ready(function () {

                $.ajaxSetup({ cache: false });

                $(".viewDialog").on("click", function (e) {
                    e.preventDefault();

                    $("<div></div>")
                        .addClass("dialog")
                        .appendTo("body")
                        .dialog({
                            closeText: "",
                            title: $(this).attr("data-dialog-title"),
                            close: function () { $(this).remove() },
                            height: 300,
                            width: 500,
                            modal: true
                        })
                        .load(this.href);
                });
            });
        </script>

        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
    }
