﻿@model LRC_NET_Framework.tb_Semesters

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="font-weight-bold" style="background-color: #357ebd; border-bottom-left-radius:7px; border-bottom-right-radius:7px; color:gainsboro; padding-top:5px; padding-bottom:5px; padding-left:30px;"><h4>Delete Semester</h4></div>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SemesterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SemesterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SemesterYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SemesterYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SemesterStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SemesterStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SemesterEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SemesterEndDate)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
