﻿@model LRC_NET_Framework.tb_Semesters

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="font-weight-bold" style="background-color: #357ebd; border-bottom-left-radius:7px; border-bottom-right-radius:7px; color:gainsboro; padding-top:5px; padding-bottom:5px; padding-left:30px;"><h4>Semester Details</h4></div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SemesterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SemesterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SemesterYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SemesterYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SemesterStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SemesterStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SemesterEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SemesterEndDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SemesterID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
