﻿@model IEnumerable<LRC_NET_Framework.tb_Semesters>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="font-weight-bold" style="background-color: #357ebd; border-bottom-left-radius:7px; border-bottom-right-radius:7px; color:gainsboro; padding-top:5px; padding-bottom:5px; padding-left:30px;"><h4>Semesters List</h4></div>

<div class="row" style="padding:5px 30px;">
    <a href="@Url.Action("Create")" class="btn btn-sm btn-info">Add New Semester&nbsp;<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SemesterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SemesterYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SemesterStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SemesterEndDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SemesterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SemesterYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SemesterStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SemesterEndDate)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.SemesterID }) |
                @Html.ActionLink("Details", "Details", new { id = item.SemesterID }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.SemesterID })
            </td>
        </tr>
    }

</table>
