@{
    ViewBag.Title = "Local 2279 Member Tracking Application";
}
<h2>@ViewBag.Title.</h2>
<hr />

<b>@ViewBag.Message</b>
<hr />
<p>
    Access is limited to Authorized Local 2279 Personnel.  Unauthorized or improper use of this system is prohibited and may result in disciplinary action and/or civil and criminal penalties.
</p>    
<p>
    For more information, see http://lrcft.org/.
</p>

