@{
    ViewBag.Title = "Local 2279";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    2126 ‘K’ Street<br />
    Sacramento, CA 95816<br />
    <abbr title="Phone">P:</abbr>
    916-448-2452
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>