﻿@using Microsoft.AspNet.Identity
@using System.Security.Claims;
@if (Request.IsAuthenticated)
{

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        ClaimsIdentity identity = (ClaimsIdentity)User.Identity; string rr = " (" + identity.Claims.LastOrDefault().Value + ") " ?? "";
        <ul class="nav navbar-nav navbar-right">
            if (rr == "admin")
            {
                <li style="font-weight:bold">
                    <div class="container" style="padding-top:8px;">
                        <div class="dropdown">
                            <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">
                                Admin
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Admin functionality</li>
                                <li>@Html.ActionLink("Import CBU", "AdminImportCBU", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                                <li>@Html.ActionLink("Confirm Registration", "AdminRegistrationRequest", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                                <li>@Html.ActionLink("Add a Semester", "Create", "Admin/EditSemesters")</li>
                                <li>@Html.ActionLink("Edit Statuses", "Index", "Admin/EditStatuses/Index")</li>
                            </ul>
                        </div>
                    </div>
                    @*@Html.ActionLink("Admin", "AdminImportCBU", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })*@
                </li>
            }
            <li>@Html.ActionLink("Request Application Access", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "! " + rr, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Request Application Access", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
